{% extends "BmwMainBundle:Layout:layout.html.twig" %}
{% block title %}ELO{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-8">
            <div class="panel panel-default ">
                <div class="panel-heading"> <strong class=""><center>Goodbye</center></strong>             
				</div>

                </div>
                </div>
                </div>
{% endblock %}