{% extends "BmwMainBundle:Layout:layout.html.twig" %}
{% block title %}Cart{% endblock %}
{% block content %}

	
	<div class="col-sm-10">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		</div>
	

{%endblock%}