
            {% block login %}
             {% set login = app.session.get('login') %}
              <div class="panel panel-default ">
                <div class="panel-heading"> <strong class="">{{login.username}}-Panel</strong>
				
                </div>
                <div class="panel-body">
                 
                   
                </div>
					<div class="row">
					
						<div class="col-xs-9">
					  <a class="btn btn-success btn-sm" href="{{path('logout')}}">Logout</a>
           			  
					  <a class="btn btn-success btn-sm" href="">Checkout</a>
					  
						</div>
				
					</div>
                </div>
{% endblock %}