{% extends "BmwMainBundle:Layout:layout.html.twig" %}
{% block title %}User{% endblock %}
{% block content %}
<center>
	<h1>Użytkownik utworzony pomyślnie!</h1>
	<h1>Możesz się teraz zalogować</h1>
</center>
{%endblock%}
